flask
celery
pytest

sqlalchemy
psycopg2-binary
SQLAlchemy-Utils
Flask-SQLAlchemy
Flask-Migrate

arrow
Flask-Bcrypt
Flask-CORS
Flask-JWT-Extended
marshmallow
marshmallow-arrow
marshmallow-enum
webargs
